html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body{
 background-color:skyblue;  
}
.main_wrapper{
    width: 1000px;
    height:auto;
    margin: auto;
    background-color: black;
}
.header_wrapper{
    width: 1000px;
    height: 100px;
    margin: auto;
}
#logo{
    float: left;
}
#banner{
    float: right;
}


.menuebar{
    width: 1000px;
    height: 40px;
    background-color: grey;
    color: white;
    margin: auto;
}
#menue{
    padding: 0;
    margin: 0;
    line-height: 35px;
    display: inline;
}
#menue li{
    list-style: none;
    display: inline;
}
#menue a{

    text-decoration: dotted;
    color: white;
    padding: 8px;
    margin: 5px;
    font-size: 18px;
    font-family: sans-serif;
   
    
}

#menue a:hover{
    color: orange;
    font-weight: bolder;
    text-decoration: underline;
}
#menue a:active{
    color: bisque;
}
#form{
    float: right;
 
    line-height: 35px;
    padding-right: 8px;
}
.content_wrapper{
    width: 1000px;
   float: left;
    margin-left: auto;
    background-color:pink;
   
}
#sidebar{
    width: 200px;
    
    float: right;
    background-color: black;
    text-align: center;
}
#sidebar_title{
    background-color: white;
    color: black;
    font-size:22px ;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
#cats{
    padding: 0;
    text-align: center;
}
#cats li{
    list-style: none;
    display: block;

}
#cats a{
    color:white;
    padding:8px;
    margin: 5px;
    
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
}
#cats a:hover{
    color:orange;
    font-weight: bolder;
    text-decoration: underline;

}
#content_area{
    width: 800px;
    height: auto;
    float:right;
    background-color: pink;

}

#product_box{
    width: 780px;
    text-align: center;
    margin-left: 30px;
    margin-bottom: 10px;
}
#single_product{
    float: left;
    margin: 30px;
    padding: 10px;
}
#single_product img{
    border:2px black solid;
}
#shopping_cart{
    width: 800px;
    height:50px;
    background-color: black;
    color: white;
}

#footer{
    width: 1000px;
    height: 100px;
    background-color: gray;
    clear: both;
    margin: auto;
}
/* customer imge in side bar */
.container {
    position: relative;
    width: 50%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
  .container:hover .image {
    opacity: 0.3;
    
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }